<h1>Oil Workers</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Contact Number</th>
  </tr>
  <% for oil_worker in @oil_workers %>
  <tr>
    <td><a href="/oil_workers/<%= oil_worker.id %>"><%= oil_worker.first_name %> <%= oil_worker.last_name %></a></td>
    <td>|</td>
    <td><%= oil_worker.contact_num %></td>
  </tr>
  <% end %>
</table>
