<h1>Rig <%= @rig.name %></h1>

<p>Type: <%= @rig.type %></p>

<h3>Oil Workers:</h3>

<ul>
  <% @rig.oil_workers.each do |oil_worker| %>
  <p><%= oil_worker.first_name %> &nbsp; <%= oil_worker.last_name %></p>
  <% end %>
</ul>