<!DOCTYPE html>
<html>
  <head>
    <title>RigAdvisor - RigList</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="icon" href="/images/Logo3.JPG" />
  </head>

  <body>
    <header>
      <nav>
          <a href="/">Home</a>

          <a href="/rigs">Rigs</a>

          <a href="/oil_workers">Oil Workers</a>

          <a href="/flights">Flight Tracker</a>

          <a href="/oil_companys">Oil Companies</a>

      </nav>
    </header>
    <%= yield %>
  </body>
</html>