<!DOCTYPE html>
<html>
<head>
  <title>RigAdvisor - RigList</title>

  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
  
  <link rel="icon" href="/images/Logo3.JPG" />

</head>
<body>
<main class="flex flex--column">
  <nav>
    <ul>
      <li>
        <a href="/rigs">Rigs</a>
      </li>
      <li>
        <a href="/oil_workers">Oil Workers</a>
      </li>
      <li>
        <a href="/flights">Flight Tracker</a>
      </li>
      <li>
        <a href="/wish_lists">Wish List</a>
      </li>
    </ul>
  </nav>
  <section id="content">
  <%= yield %>
  </section>
  </main>
</body>
</html>