<h1><%= @oil_company.name %></h1>

<h2>Type: <%= @oil_company.type %></h2>

<hr>

<h2>Rigs Operated:</h2>

<h2>
  <ul>
    <% @oil_company.rigs.each do |rig| %>
    <p><%=  rig.name %></p>
    <% end %>
  </ul>
</h2>