body {
  background-color: #7b9ea8;
  color: #eff9f0;
  font-size: 2.5em;
  font-family: Lato, sans-serif;
  maring: 40px;
}

a {
  text-decoration: none;
  color: #eff9f0;
}

ul {
  list-style: none;
}

.list {
  margin: 0 auto;
  margin-top: 100px;
  width: 400px;
}

li {
  border-bottom: 0.5px solid #b09e99;
}
